@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Stalemate|Vollkorn:400,400i');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Stalemate', cursive;
*/

/*********** Universal styles (Sitewide Layout) ***********/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

button {
  cursor: pointer;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  padding: 7px 10px;
  margin: 35px 15px 0 0;
  text-decoration: none;
  color: #000;
  transition: border 600ms ease-in;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

a:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

/* Creating a border bottom from 0 opacity to 1 opacity on hover */
#navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(192, 192, 192, 0.2);
  z-index: 100;
}

#logo-container {
  display: flex;
}

.logo {
  transition: all 400ms ease-in;
  margin-left: 80px;
  margin-top: -10px;
  cursor: pointer;
}

.logo:hover {
  width: 55px;
  height: auto;
  transition: all 400ms ease-in;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
  margin-top: -10px;
}

.drop {
  margin-top: 30px;
}

.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 200px;
  padding: 25px 30px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 500ms ease-in;
}
.menu div {
  margin-bottom: 30px;
}

.drop:hover .menu {
    visibility: visible;
    opacity: 1;
}

.opener {
  width: 80%;
  margin: 0 auto 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 22px;
  letter-spacing: 2px;
}

.action {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 500ms ease-in-out;
}

.action:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

#main-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#main-content h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  margin: 200px 0 100px;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.form-field {
  display: flex;
  justify-content: center;
}

.form-field input, textarea, button {
  padding: 10px;
  margin: 10px 15px 25px 0;
  font-size: 15px;
  background-color: rgba(192, 192, 192, 0.1);
  border: 1px solid #ccc;
  outline: none;
  flex: 1;
}

#foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 180px;
  padding-top: 10px;
  background-color: #fff;
  border-top: 1px solid rgba(192, 192, 192, 0.2);
}

#foot-container {
  display: flex;
  margin-left: 0px;
}

#foot-container ul li {
  list-style: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  padding: 1px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #000;
  transition: border 600ms ease-in;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

#foot .logo {
  width: auto;
  height: 70px;
  cursor: pointer;
}
#copyright {
  padding: 50px 40px 0 0;
}

#copyright ul li {
  text-align: right;
  list-style-type: none;
  color: #aaa;
  transition: border 600ms ease-in;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 2px;
}

.sections {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
}
/************  Home Page - index.html ************/
/* Set position to absolute so when setting the width and height
it can be 100% of the window, not a 100% of the body tag */

#slider {
  height: 75vh;
  width: 100%;
  background: url('images/slide1.jpg') no-repeat fixed center 80px;
  background-size: auto 100%;
  margin: 150px auto;
  z-index: -50;
  animation: fade 5s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content {
  width: 100%;
  height: 500px;
  background-color: #fff;
}

 button {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: 18px;
  letter-spacing: 2px;
}

/************  Product Pages  ************/

#shop {
  display: flex;
  justify-content: space-between;
}

#product-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
  width: 30%;
  height: auto;
}

.products {
  display: flex;
  flex-direction: column;
  transition: all 500ms ease-in;
}

.products:hover {
  opacity: 0.7;
}

.products img {
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
}

.label, .price {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2px;
}

.label {
  cursor: pointer;
}

.price {
  margin-top: -40px;
}

.description {
  padding: 150px;
  width: 100%;
  height: 80vh;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left:0;
  z-index: 99;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 350px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  transition: all 500ms ease-in;
}

.close:hover {
  color: #ccc;
}

.item {
  display: flex;
  margin-top: -140px;
}

.item img {
  width: auto;
  height: 500px;
}

.item h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2px;
}

.item p {
  font-size: 13px;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 2px;
}

.black {
  width: 500px;
  height: 500px;
  padding: 0px 50px 50px 50px;
  box-sizing: border-box;
}

.quantity {
  padding: 10px 3px 10px 50px;
  margin-bottom: 30px;
  background-color: rgba(192, 192, 192, 0.1);
  border: 1px solid #ccc;
  outline: none;
}

/************  Process Page - process.html ************/

.process1 {
  height: 400px;
  width: 60%;
  background: url(images/process1.jpg) no-repeat scroll center;
  background-size: cover;
}

.process2 {
  height: 400px;
  width: 60%;
  background: url(images/process2.jpg) no-repeat scroll center;
  background-size: cover;
}

.process3 {
  height: 400px;
  width: 60%;
  background: url(images/process3.jpg) no-repeat scroll center;
  background-size: auto 100%;
}

.text {
  height: 400px;
  width: 40%;
  background-color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.right, .left {
  width: 80%;
  padding: 10px 0 0 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 2px;
}

.right {
  text-align: left;
}

.left {
  text-align: right;
}

/************  Story Page - story.html ************/
#video-container {
  margin: 0 auto 200px;
}

.story1 {
  height: 400px;
  width: 60%;
  background: url(images/story1.jpg) no-repeat scroll center;
  background-size: cover;
}

.story2 {
  height: 400px;
  width: 60%;
  background: url(images/story2.jpg) no-repeat scroll center;
  background-size: cover;
}

.story3 {
  height: 400px;
  width: 60%;
  background: url(images/story3.jpg) no-repeat scroll center;
  background-size: auto 100%;
}

/************  Contact Page - contact.html ************/

.contact {
  height: 400px;
  width: 60%;
  background: url(images/contact.jpeg) no-repeat scroll center;
  background-size: auto 100%;
}

#contact-form {
  margin-left: 30px;
}

#contact-form h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2px;
}
