@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Stalemate|Vollkorn:400,400i');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Stalemate', cursive;
*/

/*********** Universal styles (Sitewide Layout) ***********/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Creating a border bottom from 0 opacity to 1 opacity on hover */
#navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 80%;
  height: 100px;
  background-color: #fff;
  overflow: hidden;
  z-index: 100;
}

#logo {
  display: flex;
  margin-left: 20px;
}

#logo img {
  transition: all 400ms ease-in;
}

#logo img:hover {
  width: 55px;
  height: auto;
  transition: all 400ms ease-in;
}

#logo-name {
  font-family: 'Stalemate', cursive;
  font-size: 40px;
  margin-top: 35px;
  padding-left: 15px;
  border: none;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container a {
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  padding: 10px 10px;
  margin: 35px 15px 0 0;
  text-decoration: none;
  color: #000;
  transition: border 600ms ease-in;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.nav-container a:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

#main-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#main-content h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
  margin: 200px 0 100px;
  text-transform: uppercase;
  letter-spacing: 20px;
}
/************  Home Page - index.html ************/
/* Set position to absolute so when setting the width and height
it can be 100% of the window, not a 100% of the body tag */

#slider {
  height: 75vh;
  width: 100%;
  background: url('images/slide1.jpg') no-repeat fixed center 80px;
  background-size: auto 100%;
  margin: 150px auto;
  z-index: -50;
}

.white {
  width: 100%;
  height: 500px;
  background-color: white;
}

.white p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-size: 12px;
  font-weight: lighter;
  line-height: 18px;
  letter-spacing: 2px;
}

/************  Product Pages  ************/
#shop {
  display: flex;
  justify-content: space-between;
}

#product-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
  width: 30%;
  height: auto;
}

.products {
  display: flex;
  flex-direction: column;
  transition: all 500ms ease-in;
}

.products:hover {
  opacity: 0.7;
}

.products img {
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
}

.description {
    padding: 150px;
    width: 100%;
    height: 80vh;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left:0;
    z-index: 99;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 320px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  transition: all 500ms ease-in;
}

.close:hover {
  color: #ccc;
}

.item img {
  width: auto;
  height: 500px;
}
/************  Process Page - process.html ************/

.sections {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
}

.process1 {
  height: 400px;
  width: 60%;
  background: url(images/process1.jpg) no-repeat scroll center;
  background-size: cover;
}

.process2 {
  height: 400px;
  width: 60%;
  background: url(images/process2.jpg) no-repeat scroll center;
  background-size: cover;
}

.process3 {
  height: 400px;
  width: 60%;
  background: url(images/process3.jpg) no-repeat scroll center;
  background-size: auto 100%;
}

.text {
  height: 400px;
  width: 40%;
  background-color: white;
  font-size: 14px;
}

.right, .left {
  width: 80%;
  text-align: left;
  padding: 20px 0 0 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: 18px;
  letter-spacing: 2px;
}

.right {
  text-align: left;
}

.left {
  text-align: right;
}

/************  Story Page - story.html ************/
#video-container {
  margin: 0 auto;
}
