@import url('https://fonts.googleapis.com/css?family=Merriweather|Cormorant+Garamond|Oswald|Playfair+Display|Stalemate');
/*font-family: 'Stalemate', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Cormorant Garamond', serif;*/


/* Sitewide layout (Affects every page) */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

#wrapper {
  display: flex;
  margin: 20px auto;
  max-width: 90%;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  /*background-color: lightblue;*/
}

#content {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow: hidden;
  margin: 50px 0 60px 300px;
}

#navigation {
  position: fixed;
  left: 175px;
  top: 175px;
  display: flex;
  width: 200px;
}

#navigation div {
  display: flex;
  flex-direction: column;
}

#foot {
  height: 20vh;
  width: 100%;
  border-top: 1px solid rgba(192, 192, 192, 0.5);
}

#logo {
  display: flex;
}

#logo a {
  border: none;
}

#logo p {
  margin: 40px 0 0 10px;
  font-family: 'Stalemate', cursive;
  font-size: 40px;
}

/* Creating a border bottom from 0 opacity to 1 opacity on hover */
a {
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  padding: 5px 0 0;
  text-decoration: none;
  color: black;
  transition: border 600ms ease-in;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

a:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: left;
  margin: 30px 0 20px 15px;
}


/* Index Page (Home Page) */
#slider {
  height: 75vh;
  width: 100%;
  background: url('images/slide1.jpg') no-repeat fixed center 80px;
  background-size: auto 100%;
  margin: 150px auto;
  z-index: -50;
}

#back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(192, 192, 192, 0.3);
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  position: relative;
  left: 30px;
  bottom: 280px;
  transition: background 500ms ease-in;
}

#forward {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(192, 192, 192, 0.3);
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  position: relative;
  left: 670px;
  bottom: 330px;
  transition: background 500ms ease-in;
}

#back:hover, #forward:hover {
  background: rgba(192, 192, 192, 0.5);
}

/* Product Page */

#products {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

#products img {
  width: 30%;
  margin: 15px 0;
}

/* Our Process Page */

#bigdiv {
  display: flex;
  flex-direction: column;
}

.sections {
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
}

.process1 {
  height: 400px;
  width: 60%;
  background: url(images/process1.jpg) no-repeat fixed 200px -40px;
  background-size: auto 100%;
}

.text {
  height: 400px;
  width: 40%;
  background-color: white;
  font-size: 14px;
}

.right {
  width: 80%;
  text-align: justify;
  padding-left: 40px;
}

.left {
  text-align: justify;
  padding-right: 40px;
}

.process2 {
  height: 400px;
  width: 60%;
  background: url(images/process4.jpg) no-repeat fixed 600px -20px;
  background-size: auto 90%;
}

.process3 {
  height: 400px;
  width: 60%;
  background: url(images/process3.jpg) no-repeat fixed center;
  background-size: auto 80%;
}
